<ul>
    <li> <a href="./users"> USERS </a> </li>
    <li> <a href="./products"> PRODUCTS </a></li>
    <li> BRANDS </li>
    <li> CATEGORIES </li>
    <li> <a href="./purchases"> PURCHASES </a></li>
</ul>
