<ul>
    <li> <a href="./users"> USERS </a> </li>
    <li> <a href="./products"> PRODUCTS </a></li>
    <li> <a href="./brands"> BRANDS </a> </li>
    <li> <a href="./categories"> CATEGORIES </a> </li>
    <li> <a href="./purchases"> PURCHASES </a></li>
</ul>
