<ul>
    <li> <a href="./users"> VIEW USERS </a> <a href="./users/new"> ADD A USER </a>  </li>
    <li> <a href="./products"> VIEW PRODUCTS </a> <a href="./products/new"> ADD A PRODUCT </a></li>
    <li> <a href="./brands"> VIEW BRANDS </a> <a href="./brands/new"> ADD A BRAND </a></li>
    <li> <a href="./categories"> VIEW CATEGORIES </a> <a href="./categories/new"> ADD A CATEGORY </a></li>
    <li> <a href="./purchases"> VIEW PURCHASES </a> <a href="./purchases/new"> ADD A PURCHASE </a></li>
</ul>
