<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            RedMart
        </title>
        <link rel="stylesheet" type="text/css" href='/css/style.css'>

    </head>
    <body>

        <h1>
            RedMart
        </h1>

        <h2>
            Database Management Platform</h2>
        <%= yield %>

        <script src='/scripts/main.js'></script>
    </body>
</html>
