<h3>Form to create new user / Register Here!</h3>

<form action="/users" method="post">
 <label for="name">Name</label>
 <input id = "name" type="text" name="user[name]" value="">

 <label> Address
   <input id = "address" type="text" name="user[address]" value="">
 </label>

 <input type="submit" value="Submit">
</form>
