<h3>Form to create new brand/ ENTER A NEW BRAND Here!</h3>

<form action="/brands" method="post">
<container class="forms">
 <label for="name">NAME</label>
 <input class="field" id = "name" type="text" name="brand[name]" value="">
 </container>

<container class="forms">
 <label> CATEGORY ID
   <input class="field" id = "email" type="text" name="brand[category_id]" value="">
 </label>
  </container>

<container class="forms">
 <label> SUPPLIER
   <input class="field" id = "address" type="text" name="brand[supplier]" value="">
 </label>
  </container>

<container class="forms">
 <input id="submit" type="submit" value="Submit">
  </container>
</form>

<a class="backsmall" href="../brands"> BACK </a>
